.paint-it-black{
	position: fixed;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
	width: 100%;
	height: 100%;
	z-index: 99;
}

.hide-toggle{
	width: 60px;
	height: 60px;
	border: 2px solid #FFF;
	border-radius: 50%;
  z-index: 100;
  margin: 0 auto;
  text-align: center;
}

.hide-toggle span{
  display: inline-block;
	font-size: 20px;
}
